body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 15px; /* Tamaño de fuente más pequeño */
}

.text-container {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 100%;
}

p, h2, h3, ul {
    margin: 0 0 10px;
}

ul {
    padding-left: 20px;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

nav {
    background-color: #18150E;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-family: "Playfair Display SC", serif;
    font-weight: bold;
    font-size: 1rem;
}

li {
    flex-grow: 1;
    text-align: center;
}

li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 0;
}

li img {
    max-height: 40px;
}

li a:hover {
    background-color: #555;
}

main {
    width: 100%;
    padding: 0;
}

section {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h2 {
    margin-top: 0;
}

.whatsapp-float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    overflow: hidden;
}

.whatsapp-float img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    background-color: #18150E;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 0;
    width: 100%;
}

.map-container,
.redes {
    flex: 1;
}

.map-container {
    margin-right: 20px;
}

.map-container iframe {
    width: 100%; /* Ajustado para que el iframe ocupe el ancho completo del contenedor */
    height: 300px; /* Ajustar la altura según tu preferencia */
}

.redes img {
    width: 40px;
    margin: 0 10px;
}

/* Añadir media queries para la responsividad */
@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    }

    .map-container iframe {
        width: 100%;
        height: 200px;
    }

    .whatsapp-float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 20px;
    }

    footer {
        flex-direction: column;
    }

    .map-container {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .redes img {
        width: 30px;
    }
}
.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    height: auto; /* Para mantener la proporción de aspecto */
}

hr {
    border: 0; /* Elimina el borde predeterminado */
    height: 2px; /* Establece la altura deseada */
    background: #733A26;
}



.text-container {
    /* Estilos del contenido dentro de la tarjeta */
    padding: 20px; /* Espacio interno para el contenido */
}

.card {
    background-color: #F2C572; /
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    margin: 0; 
}

.card-container {
  
    margin: 20px auto; 
    max-width: 99%; 
    
}

.card-container1 {
    margin: 20px auto; 
    max-width: 99%;
    display: flex;
    justify-content: center;
}

.card1 {
    background-color: #F2C572;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

.card1 iframe {
    width: 100%;
    border-radius: 10px;
}
