form {
    background-color: #A67244;
    padding: 50px 55px;
    box-shadow: 0 0 20px rgb(0, 0, 0 0,2);
    border-radius: 20px;
    text-align: center;
    width: 340px;

}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-group select{
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #BFAF8F;
    border: solid 2px #BFAF8F;
    outline: none;
    height: 35px;
    padding: 5px 10px ;
    
}
    
select option{
    color: #18150E;
    font-size: 15px;
    margin-bottom: 15px;

}

h2{
    color: #18150E;
    font-size: 35px;
    margin-top: 0;
}

label{
    color: #18150E;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea{
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 17px 25px ;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #BFAF8F;
    border: solid 2px #BFAF8F;
    color: #18150E;
    outline: none;
}

.btn{
    font-size: 16px;
    border: 0;
    border-radius: 25px;
    background-color: #BFAF8F;
    box-shadow:0 0 20px #18150E;
    cursor: pointer;
}

.btn:hover{
    background-color: #733A26;
}

@media (max-width: 991px) 
{
    body {
        padding: 30px;
    }

    form{
        padding: 50px 30px;
        width: 50%;
    }

    input{
        padding: 15px;
    }

}



/* JP */



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

nav {
    background-color: #18150E;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

li {
    flex-grow: 1;
    text-align: center;
}

li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 0;
}

li img {
    max-height: 40px;
}

li a:hover {
    background-color: #555;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}

section {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h2 {
    margin-top: 0;
}

.whatsapp-float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    overflow: hidden;
}

.whatsapp-float img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer {
    background-color: #18150E;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Para permitir el ajuste automático en múltiples líneas */
    position: relative;
    bottom: 0;
    width: 100%;
}

.map-container,
.redes {
    flex: 1; /* Para que ocupen el mismo espacio y se distribuyan horizontalmente */
}

.map-container {
    margin-right: 20px; /* Espacio entre el mapa y los íconos */
}
.map-container iframe {
    width: 25%; /* Hace que el ancho del mapa se ajuste al ancho del contenedor */
    height: 100px; /* Ajusta la altura del mapa según tu preferencia */
}
.redes img {
    width: 40px;
    margin: 0 10px; /* Ajusta el espacio entre los iconos de las redes sociales */
}