

form {
    background-color: #A67244;
    padding: 50px 55px;
    box-shadow: 0 0 20px rgb(0, 0, 0 0,2);
    border-radius: 20px;
    text-align: center;
    width: 340px;

}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-group select{
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #BFAF8F;
    border: solid 2px #BFAF8F;
    outline: none;
    height: 35px;
    padding: 5px 10px ;
    
}
    
select option{
    color: #18150E;
    font-size: 15px;
    margin-bottom: 15px;

}

h2{
    color: #18150E;
    font-size: 35px;
    margin-top: 0;
}

label{
    color: #18150E;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea{
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 17px 25px ;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #BFAF8F;
    border: solid 2px #BFAF8F;
    color: #18150E;
    outline: none;
}

.btn{
    font-size: 16px;
    border: 0;
    border-radius: 25px;
    background-color: #BFAF8F;
    box-shadow:0 0 20px #18150E;
    cursor: pointer;
}

.btn:hover{
    background-color: #733A26;
}

@media (max-width: 991px) 
{
    body {
        padding: 30px;
    }

    form{
        padding: 50px 30px;
        width: 50%;
    }

    input{
        padding: 15px;
    }

}



/* JP */



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

nav {
    background-color: #18150E;
    padding: 10px;
    width: 100%;
    position: fixed;
    z-index: 1;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-family: "Playfair Display SC", serif;
    font-weight: bold;
    font-size: 1rem;
}

li {
    flex-grow: 1;
    text-align: center;
}

li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 0;
}

li img {
    max-height: 40px;
}

li a:hover {
    background-color: #555;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}

section {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h2 {
    margin-top: 0;
}

.whatsapp-float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    overflow: hidden;
}

.whatsapp-float img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer {
    background-color: #18150E;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    height: 250px;
    overflow-x:hidden;
}

footer .redes .redes__texto_redes {
    position: relative;
    bottom: -2px;
    
}

footer .redes .redes__texto_redes::after {
    content: '';
    position: absolute;
    bottom: -3px;
    right: 75px;
    width: 53%;
    height: auto;
    border-bottom: 1px solid white;
}

footer .map-container .redes__texto_map {
    position: relative;
    bottom: 6px;
    left: -76px;
}

footer .map-container .redes__texto_map::after {
    content: '';
    position: absolute;
    bottom: -3px;
    right: 75px;
    width: 53%;
    height: auto;
    border-bottom: 1px solid white;
}



.map-container {
    margin-right: 20px;
    padding-left: 40px;
}


.map-container iframe {
    width: auto; 
    height: auto; 
}


.redes {
   padding-right: 60px;
   border-left: 1px solid white;
   padding-left: 15px;
}

.redes__logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    width: 180px;
    height: 150px;
    position: relative;
    border-radius: 50%;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 16px;
}

.redes a {
    display: inline-block;
    width: 35px;
    height: 38px;
    position: relative;
    border-radius: 50%;
    background-color: white;
}


.redes #redes_instagram::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -3px;
    width: 44px;
    height: 41px;
    background-image: url(../../img/instagram.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.redes #redes_facebook::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -3px;
    width: 44px;
    height: 41px;
    background-image: url('../../img/facebook.png');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}